<a href="https://colab.research.google.com/github/alexbolduin/Deep_Learning_School_2020-2021_base/blob/master/%5Bhomework%2Cbasic%5Dpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</b></h3>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
import numpy as np

### Даю DATA: https://drive.google.com/open?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DLS/data/BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [9]:
data.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [10]:
type(data)

pandas.core.frame.DataFrame

---

In [11]:
data.describe()

            User_ID    Occupation  ...  Product_Category_3       Purchase
count  5.375770e+05  537577.00000  ...       164278.000000  537577.000000
mean   1.002992e+06       8.08271  ...           12.669840    9333.859853
std    1.714393e+03       6.52412  ...            4.124341    4981.022133
min    1.000001e+06       0.00000  ...            3.000000     185.000000
25%    1.001495e+06       2.00000  ...            9.000000    5866.000000
50%    1.003031e+06       7.00000  ...           14.000000    8062.000000
75%    1.004417e+06      14.00000  ...           16.000000   12073.000000
max    1.006040e+06      20.00000  ...           18.000000   23961.000000

[8 rows x 7 columns]

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [12]:
print(sorted(list(data.Age.unique())))
len(data.Age.unique())

['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+']

7

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [13]:
male = len(data.loc[data['City_Category'] == 'A'].loc[data['Gender'] == 'M'].drop_duplicates())
fmale = len(data.loc[data['City_Category'] == 'A'].loc[data['Gender'] == 'F'])
total = len(data.loc[data['City_Category'] == 'A'])
print(male, fmale, total)

109831 34807 144638

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [15]:
womans_46_50_purch_20000_more = len(data.loc[data['Purchase'] >= 20000].loc[data['Gender'] == 'F'].loc[data['Age'] == '46-50'])
print(womans_46_50_purch_20000_more)

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [44]:
data.groupby(by='Product_Category_3', dropna=False).agg({'Product_Category_3': 'size'})

                    Product_Category_3
Product_Category_3
3.0                                600
4.0                               1840
5.0                              16380
6.0                               4818
8.0                              12384
9.0                              11414
10.0                              1698
11.0                              1773
12.0                              9094
13.0                              5385
14.0                             18121
15.0                             27611
16.0                             32148
17.0                             16449
18.0                              4563
NaN                             373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [47]:
(len(data.loc[data['Gender'] == 'M'].loc[data['Age'] == '26-35']) + \
len(data.loc[data['Gender'] == 'F'].loc[data['Age'] == '36-45']) + \
len(data.loc[data['Gender'] == 'F'].loc[data['Age'] == '46-50']) + \
len(data.loc[data['Gender'] == 'F'].loc[data['Age'] == '51-55']) + \
len(data.loc[data['Gender'] == 'F'].loc[data['Age'] == '55+'])) / \
len(data)

0.4077201963625676

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).